@charset "UTF-8";
/* CSS Document */
html {margin: auto; padding: auto; width: 100%;}
nav {background: #313131; border-bottom: 1px black solid; border-top: 1px black solid; width: 110vw; position: absolute; left: -2%; text-align: center; 

-webkit-box-shadow: 0px 24px 100px -20px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 24px 100px -20px rgba(0,0,0,0.27);
box-shadow: 0px 24px 100px -20px rgba(0,0,0,0.27);


}
ul {list-style-type: none;}
li {margin-right: 11%;}
a {text-decoration: none; font-family: helvetica; font-size: 2em; color: #C1C1C1;}
.active {color: #63B1FF;}